/**
 *主题
 */
$primary-color:#1890ff;
$primary-bg-color:#1890ff;
/*theme1*/
$t1-primary-color:#E1673A;
$t1-primary-bg-color:#E1673A;

/*theme2*/
$t2-primary-color:#1173CE;
$t2-primary-bg-color:#1173CE;

/*theme3*/
$t3-primary-color:#30579D;
$t3-primary-bg-color:#30579D;

/*theme4*/
$t4-primary-color:#009B94;
$t4-primary-bg-color:#009B94;
